@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

/* Mobile Design First */
@media only screen and (min-width: 375px) and (max-width: 799px) {
.desktop-background {
    display: none;
}

.mobile-desktop {
    max-width: 375px;
    max-height: 100vh;
}


}


/* Desktop Design */
@media screen and (min-width: 800px) {
    .mobile-background {
        display: none;
    }
}